# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

EEPROM/
Ethernet
Firmata
LiquidCrystal
Morse
SD
Servo
SoftwareSerial
SPI
Stepper
Wire
AsyncGolfBallStand